@media (max-width: 990px) {
.desktop-menu {
    display: none;
}

.mobile-menuu {
    margin: 15px !important;
}

}

@media (min-width: 991px) {
    .container.mobile-menuu {
        display: none;
    }
}



.main-navigation ul ul {
    background-color: #fff !important;
}

.main-navigation ul li {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

i.fa.fa-bars.text-right {
    margin-top: 7px;
    margin-left: 32vw;
}


ul#mobile-head-menu li {
    display: block;
}


.social-icons {
   
    text-align: left !important;
}

li.has_children > a:after { content: " ▾"; }

.e-flex {
    width: 16.6%;
}

.row.e-flex-row {
	margin-top: 1.5em;
}

.large-grid img {
	width: 100%;
}


.featured-title a {
	text-decoration:none;
	color: #333;
	line-height: 1.4;
}

.featured-image-section h6 a, .featured-imagesection h6 a {
	text-decoration:none;
	color: #fff;
}

.featured-meta a, .author.vcard a {
	text-decoration:none;
	color: #333;
}

a.read-more-button, .politicsviewall a {
    text-decoration: none;
    color: #2e4c6e;
    font-weight: 700;
}

.sidebarcontent p a {
	text-decoration:none;
	color: #333;
	line-height: 1.4;
}

.sidebarcontent h5 a {
	text-decoration: none;
    color: #333;
    padding-left: 6px;
    border-left: 2px solid #2e4c6e;
}

@media (max-width:768px) {
.featured-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}

	.row .e-flex {
		width: 100% !important;
		margin-bottom: 20px;
	}	
}

@media (min-width:768px) {
	.title-section {
		display: flex;
	}
	.first-clm {
		flex:0%;
	}
	.entry-header {
		flex:70%;
	}
	.third-clm {
		flex:0%;
	}
	
	.wpb-posts-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    max-width: 1200px;
    margin: 100px auto;
}
	
	.social-icons.share-icons li {
	display: block !important;
}

 
}

  .featured-imagesection h6 {
	font-size: 14px;
	position: default;
	z-index: 500;
	bottom: 0px;
	left: 0px;
	color: white;
	background-color: #2e4c6e;
	padding: 6px 20px;
	margin-bottom: 0px;  
	display: inline-block;
  }

.featured-img {
	margin-top: 40px;
}

.featured-meta img {
	border-radius: 99px;
    margin-right: 10px;
}

.featured-img .post-thumbnail img {
	width: 100%;
    height: 80vh;
}

.post-content, .share-btn {
	margin-top: 45px;
}

.share-btn {
	margin-top: 45px;
	font-size: 20px;
}

.fb-share {
	font-weight: 400;
    background-color: #3c5a96;
    color: white;
    padding: 15px;
    margin-bottom: 6px;
    margin-left: -10px;
    margin-top: 15px;
}

.twitter-share {
	font-weight: 400;
    background-color: #42afdf;
    color: white;
    padding: 15px;
    margin-bottom: 6px;
    margin-left: -10px;
    margin-top: 15px;
}

.pin-share {
	font-weight: 400;
    background-color: #ce4135 ;
    color: white;
    padding: 15px;
    margin-bottom: 6px;
    margin-left: -10px;
    margin-top: 15px;
}




.wpb-posts-nav a {
    display: grid;
    grid-gap: 20px;
    align-items: center;
}
 
.wpb-posts-nav h4,
.wpb-posts-nav strong {
    margin: 0;
}
 
.wpb-posts-nav a svg {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
 
.wpb-posts-nav > div:nth-child(1) a {
    grid-template-columns: 100px 1fr;
    text-align: left;
}
 
.wpb-posts-nav > div:nth-child(2) a {
    grid-template-columns: 1fr 100px;
    text-align: right;
}
 
.wpb-posts-nav__thumbnail {
    display: block;
    margin: 0;
}
 
.wpb-posts-nav__thumbnail img {
    border-radius: 10px;
}


div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    background-color: #2e4c6e !important;
    border: 1px solid #ddd;
    color: #fff !important;
    font-size: 16px !important;
    padding: 10px 15px;
    font-weight: 500 !important;
}